<ion-content [fullscreen]="true">
  <div class="top">
    
    <ion-label>Pratos do Dia</ion-label>   
  </div>
  <div>
    <ion-icon name="bookmark-outline" (click)="todosPratos()"></ion-icon>
      <div class="upperBox" *ngFor= "let p of pratosHoje">
        
          <div class="image">
              <img (click)= "openModal(p.imagem, p.nome_do_prato, p.descricao, p.id)" [src]= "p.imagem" alt="Imagem não" />
          </div>
          <div class="title" >
            
              <h3 (click)= "openModal(p.imagem, p.nome_do_prato, p.descricao, p.id)">{{p.nome_do_prato}}</h3>
          </div>
      </div>
  </div>
  
  <!--Modal da Descrição do Prato-->
  <div class="modalDescription">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Descrição do Prato</ion-title>
              <ion-buttons slot="start">
                <ion-button (click)="closeModal()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <div >
              
              <img [src]= "selectedImage"/>
              <h3>{{selectedTitle}}</h3>
              <p>{{selectedDescription}}</p>
    
            </div>


            <br>
            <div class="rating">
              <ion-icon [name]="estrelasSelecionadas >= 1 ? 'star' : 'star-outline'" (click)="setRating(1)"></ion-icon>
              <ion-icon [name]="estrelasSelecionadas >= 2 ? 'star' : 'star-outline'" (click)="setRating(2)"></ion-icon>
              <ion-icon [name]="estrelasSelecionadas >= 3 ? 'star' : 'star-outline'" (click)="setRating(3)"></ion-icon>
              <ion-icon [name]="estrelasSelecionadas >= 4 ? 'star' : 'star-outline'" (click)="setRating(4)"></ion-icon>
              <ion-icon [name]="estrelasSelecionadas >= 5 ? 'star' : 'star-outline'" (click)="setRating(5)"></ion-icon>
            </div>
            <button (click)="avaliarPrato()">Avaliar</button>
            
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-content>
  </div>
  
</ion-content>
