
<ion-content [fullscreen]="true">
  <div class="overlay-image"></div> <!-- Adicione a imagem com cor transparente -->
  <ion-card class="container">
    <ion-card-content>
      <ion-card-title>CHEF's</ion-card-title>
      <div class="upperBox" *ngFor="let f of funcionario">
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <div class="image">
            <img (click)="openModal(f.imagem, f.nome,f.id,f.departamento,f.funcao,f.morada,f.email)" [src]="f.imagem" />
            <span (click)="openModal(f.imagem, f.nome,f.id,f.departamento,f.funcao,f.morada,f.email)" class="nome-chefe">{{ f.nome }}</span>
          </div>
        </ion-card-header>
      </div>
      
    </ion-card-content>
  </ion-card>


   <!--Modal da Descrição do Prato-->
   <div class="modalDescription">
    <ion-header>
      <ion-toolbar>
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-modal [isOpen]="isModalOpen">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Detalhes do Chef</ion-title>
              <ion-buttons slot="start">
                <ion-button (click)="closeModal()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <div >
              
              <img [src]= "selectedImage"/>
              <h3>Nome: {{selectedNome}}</h3>
              <p>Departamento: {{selectedDepartamento}}</p>
              <p>Função: {{selectedFuncao}}</p>
              <p>Morada: {{selectedMorada}}</p>
              <p>Email: {{selectedEmail}}</p>
    
            </div>


            <br>
            <div class="rating">
              <ion-icon [name]="estrelasSelecionadas >= 1 ? 'star' : 'star-outline'" (click)="setRating(1)"></ion-icon>
              <ion-icon [name]="estrelasSelecionadas >= 2 ? 'star' : 'star-outline'" (click)="setRating(2)"></ion-icon>
              <ion-icon [name]="estrelasSelecionadas >= 3 ? 'star' : 'star-outline'" (click)="setRating(3)"></ion-icon>
              <ion-icon [name]="estrelasSelecionadas >= 4 ? 'star' : 'star-outline'" (click)="setRating(4)"></ion-icon>
              <ion-icon [name]="estrelasSelecionadas >= 5 ? 'star' : 'star-outline'" (click)="setRating(5)"></ion-icon>
            </div>
            <button (click)="avaliarChefe()">Avaliar</button>
            
          </ion-content>
        </ng-template>
      </ion-modal>
    </ion-content>
  </div>
</ion-content>


